@media screen and (max-width: 991px) {
    .sidenavbar {
          position: fixed;
   top: -3px;
    text-align: center;
    width: 100px;
    height: 219px;
    z-index: 2;
    color: white;
    }
}

@media screen and (min-width: 992px) {
    .sidenavbar {
        display: none;
    }
}

.modal .modal-content {
    padding: 88px;
    font-size: x-large;
    text-align: center;
    background-color: black;
    
}